# Naive bayes

In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [60]:
df=pd.read_csv(r"C:\Users\namde\Downloads\titanic.csv")

In [62]:
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [64]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [66]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [68]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [70]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [72]:
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [74]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head(4)

   female   male
0   False   True
1    True  False
2    True  False
3    True  False

In [76]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False
3       1  female  35.0  53.1000    True  False
4       3    male  35.0   8.0500   False   True

In [78]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False
3       1  35.0  53.1000    True  False
4       3  35.0   8.0500   False   True

In [80]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [82]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False
3       1  35.0  53.1000    True  False
4       3  35.0   8.0500   False   True

In [101]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [103]:
len(X_train)

712

In [105]:
len(X_test)

179

In [107]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [109]:
model.fit(X_train,y_train)

GaussianNB()

In [111]:
model.score(X_test,y_test)

0.8156424581005587

In [113]:
X_test[:10]

     Pclass        Age      Fare  female   male
319       1  40.000000  134.5000    True  False
210       3  24.000000    7.0500   False   True
530       2   2.000000   26.0000    True  False
882       3  22.000000   10.5167    True  False
407       2   3.000000   18.7500   False   True
836       3  21.000000    8.6625   False   True
260       3  29.699118    7.7500   False   True
436       3  21.000000   34.3750    True  False
174       1  56.000000   30.6958   False   True
872       1  33.000000    5.0000   False   True

In [115]:
y_test[:10]

319    1
210    0
530    1
882    0
407    1
836    0
260    0
436    0
174    0
872    0
Name: Survived, dtype: int64

In [117]:
model.predict(X_test[:10])

array([1, 0, 1, 1, 0, 0, 0, 1, 0, 0], dtype=int64)

In [119]:
model.predict_proba(X_test[:10])

array([[1.20623455e-04, 9.99879377e-01],
       [9.86483963e-01, 1.35160371e-02],
       [1.62925222e-02, 9.83707478e-01],
       [6.34294863e-02, 9.36570514e-01],
       [9.49517684e-01, 5.04823162e-02],
       [9.85756518e-01, 1.42434819e-02],
       [9.87604552e-01, 1.23954477e-02],
       [5.48681179e-02, 9.45131882e-01],
       [9.01748067e-01, 9.82519329e-02],
       [9.14589874e-01, 8.54101256e-02]])